@import "headings-style.css"; /* this hanbdles the headings */
@import "header-style.css"; /* this styles the header      */
@import "footer-style.css"; /* this styles the footer       */

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
  }

  textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
    font-size: 20px;
  }


  input[type=submit] {
    width: 15%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: montserrat;
    background-color: green;
  }



  body {
    background-color: rgb(230, 213, 182);
    font-family: 'Montserrat', sans-serif;
    }